* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-escuro: #0e3463;
  --azul-claro: #cbe9f4;
  --cor-fonte-principal: #091f3a;
  --cor-fonte-secundaria: #154580;
  --branco: #fff;
  --fonte-principal: "Poppins", sans-serif;

  font-family: var(--fonte-principal);
}

body {
  background-color: var(--branco);
}

h1 {
  color: var(--azul-escuro);
  margin: 40px;
  text-align: center;
  font-weight: 500;
}
